body {
  width: 20rem;
  font-size: 1.25rem;
}

h1 {
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

p {
  margin: 0.5rem 0;
}

#on-off-switch {
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
}
