body {
  width: 20rem;
  font-size: 1.25rem;
}

h1 {
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

p {
  margin: 0.5rem 0;
}

button {
  border: 0;
  border-radius: 2px;
  height: 1.34375rem;
}

#on-off-switch {
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
}

.primary {
  background-color: #0275d8;
  color: white;
}

.success {
  background-color: #5cb85c;
  color: white;
}

.danger {
  background-color: #d9534f;
  color: white;
}
